
/* Import Tailwind */
@import "tailwindcss";

/* Theme Variables */
@theme {
  --breakpoint-custom: 800px;
  --color-primary: #2ecc71;
  --color-background: #1a191c;
  --color-secondary: #222127;
  --color-card: #2b2a30;
  --color-content: #56565c;
  --color-disabled: #777777;
  --color-grayish: #444444;
  --color-gayish-dark: #2a2a2a;

}

@layer base {
  body {
    @apply bg-background text-content;
  }
}
